<div class="info" id="about">
  <h2>About Head Shots!</h2>

  <p>Developed by <a href="http://twitter.com/rem">Remy Sharp</a> of <a href="http://leftlogic.com">Left Logic</a>, Head Shots was originally a Chrome Experiment for Google&nbsp;IO&nbsp;2013.</p>

  <p>Head Shots aims to show off the new and exciting technology available in mobile and desktop devices in the very near future.</p>

  <p>This project includes:</p>

  <ul><li>WebRTC for live video streaming (via getUserMedia)</li><li>WebRTC for data (via RTCDataChannel)</li><li>WebSockets for initial handshaking &amp; fallback streaming</li><li>Orientation events</li><li>CSS3 animations</li><li>HTML5 canvas using Three.js</li><li>Node.js on the server for real-time support</li></ul>

  <p>All of the code is available on github and licensed under <a href="http://leftlogic.mit-license.org">MIT</a>: <a href="http://github.com/leftlogic/headshots">http://github.com/leftlogic/headshots</a></p>

  <p>All graphic work was done by <a href="http://www.happyprog.com/">Sebastian Hermida</a>, and special thanks to <a href="http://seb.ly">Seb Lee-Delisle</a> for his help with Three.js.

  <p>Please <a href="http://leftlogic.com/contact">get in touch</a> if you&#39;ve got an interesting or even <em>experimental</em> idea you&#39;d like developed by Left Logic &amp; Remy.</p>
</div>
<script>
[].forEach.call(document.querySelectorAll('a'), function (el) {
  el.target = "_blank";
});
</script>