<div class="copy" id="instructions">
  <h2>How to Head Shot!</h2>

  <p>You'll need a little technical checkbox ticked and out of the way before you can enjoy flinging balls at your opponent's face and doing the dance of victory in front of them.</p>

  <p>Head Shots uses WebRTC - so if you're using Chrome Beta for Android, you need to enable this using <a href="chrome://flags">chrome://flags</a> and <strong>Enable WebRTC Android</strong>.</p>

  <p>Now you're reading. Create a game, get a friend to join you, then flick the ball at their head&mdash;and watch out, it's not as easy as you might think.</p>

  <p>If your video stops working, just have either yourself, or your opponent refresh their browser, and the game will pick up where it left off reconnecting the video streams.</p>

  <p>Currently Head Shots only works on Chrome Beta for Android&mdash;but in the coming days (or weeks), iOS support will be added (without streaming video, Safari's a little behind on that front).</p>
</div>
<script>
[].forEach.call(document.querySelectorAll('a'), function (el) {
  el.target = "_blank";
});
</script>