<form action="join" method="post" id="join">
  <h2><label for="code">Enter PIN to join a game</label></h2>
  <input class="field" type="number" pattern="[0-9]{4}" placeholder="eg. 1234" required>
  <div class="pin">
    <input class="info" type="submit" value="go">
    <div class="streak"></div>
  </div>
</form>
