<div id="player-a" class="scene">
  <div class="bgmountains">
  </div>
  <div class="floor">
    <div class="player">
      <div class="face"></div>
    </div>
  </div>
  <div class="ball">
    <div class="arrow"></div>
  </div>
</div>
