<div class="player-{{player.letter}}{{#if player.turn}} player-{{player.letter}}-turn{{/if}} scene">
  <div class="bgmountains">
  </div>
  <div class="floor">
    <div class="player">
      <div class="face"></div>
    </div>
  </div>
  <div class="ball">
    <div class="arrow"></div>
  </div>
</div>
<script>var pin = {{pin}};</script>
<script src="js/webrtc.io.js"></script>
<script src="js/main.js"></script>