<div id="start">
  <h2>Waiting for player to join</h2>

  <div class="pin">
    <div class="info">
      <small>PIN code</small>
      <p>{{{pin}}}</p>
    </div>
    <div class="streak"></div>
  </div>
</div>
<script>
var pin = {{pin}};
</script>
<script src="/js/xhr.js"></script>
<script src="/js/start.js"></script>