<div id="welcome">
  <h1>Head Shots</h1>
  <div class="buttons">
    <a class="button start" href="/play#start">New Game</a>
    <a class="button join" href="/play#join">Join Game</a>
  </div>
  <footer>
    <a href="/about">About</a>
    <a href="/instructions">Instructions</a>
  </footer>
</div>