#pause, #hit, #turn { -webkit-font-smoothing: antialiased; }

.scene, #game-control {
  -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
/* make transparent link selection, adjust last value opacity 0 to 1.0 */
  -webkit-tap-highlight-color: rgba(0,0,0,1.0); 
  -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0 auto;
  background: #2c3e50;
  color: #ECF0F1;
}

body {
  max-width: 400px;
}

.wide body {
  max-width: 100%;
}

canvas {
  display: block;
}

html, body, input {
  font-family: 'Roboto', times;
  font-weight: 300;
  font-size: 16px;
}

body {
  box-sizing: border-box;
}

body h2 {
  padding-top: 2rem;
}

input {
  -webkit-appearance: none;
}

html {
  overflow-y: scroll;
}

#welcome {
  background: #2C3E50 url(../images/logo.png) no-repeat center top;
  background-size: 80%;
}

#welcome h1 {
  margin: 0;
  background-size: 80%;
  min-height: 380px;
  text-indent: -9000px;
}

.buttons {
  padding: 1rem;
  padding-bottom: 0;
}

.button {
  text-decoration: none;
  display: block;
  width: 180px;
  height: 50px;
  border-radius: 10px;
  margin: 1.5rem auto;
  line-height: 50px;
  color: #ECF0F1;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  border: 0;
  cursor: pointer;
}

.button.join {
  background: #3493d6;
  box-shadow: 0px 0.25rem 0 0 #2980b4;
}

.button.start,
.button.resume {
  background: #1ab797;
  box-shadow: 0px 0.25rem 0 0 #169b80;
}

.button.exit,
.button.again {
  background: #E74C3C;
  box-shadow: 0px 0.25rem 0 0 #C0392B;
}

footer {
  padding: 1rem;
  position: relative;
  height: 1rem;
}

footer a {
  color: #ECF0F1;
  font-size: 1rem;
  font-weight: 100;
  text-decoration: none;
  padding: 1rem;
  position: absolute; 
  bottom: 0;
  left: 0;
}

footer a:last-child {
  left: auto;
  right: 0;
}

.pin .info {
  background: #E74C3C;
  width: 9rem;
  margin: 0 auto;
  border-radius: 9rem;
  padding: 1rem;
  text-align: center;
  height: 9rem;
  position: relative;
  z-index: 1;
  border: 0;
  font-size: 4rem;
  text-transform: uppercase;
  display: block;
  box-sizing: content-box;
}

.pin small {
    text-transform: uppercase;
    margin: 1.5rem 0 1rem;
    display: block;
    font-size: 1rem;
}

.pin p {
    text-align: center;
    font-size: 4rem;
    font-weight: 100;
    margin: 0;
    line-height: 3rem;
}

h2 {
    font-weight: 100;
    text-align: center;
    margin: 0 2rem 2rem;
}

#join .streak:before {
  top: 13.6rem;
}

.pin .streak {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.pin .streak:before {
  content: '';
  background: #ebeff0;
  width: 60rem;
  height: 11rem;
  position: absolute;
  right: 50%;
  top: 6rem;
  overflow: hidden;
  z-index: 0;
  text-transform: uppercase;
  display: block;
  -webkit-transform: rotate(-65deg);
  -webkit-transform-origin: 100%;
  -moz-transform: rotate(-65deg);
  -moz-transform-origin: 100%;
  transform: rotate(-65deg);
  transform-origin: 100%;

  background: #ebeff0; /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, #ebeff0 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,#ebeff0)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,#ebeff0 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,#ebeff0 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,#ebeff0 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(0,0,0,0) 0%,#ebeff0 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(0,0,0,0)', endColorstr='#ebeff0',GradientType=1 ); /* IE6-9 */

}

#join .info {
    color: #2c3e50;
    font-weight: 300;
    background: #27AE60;
    font-weight: 200;
}

.field {
  display: block;
  background: #BDC3C7;
  border: 0;
  font-size: 3.5rem;
  text-align: center;
  margin: 0 auto 2rem auto;
  padding: 0.5rem;
  box-sizing: border-box;
  width: 80%;
  position: relative;
  border-radius: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

#join .info:active {
  background: rgb(38, 136, 79);
}

input[type=submit] {
  cursor: pointer;
}

.scene {
  background: #2C3E50;
  height: 100%;
  position: relative;
  z-index: 1;
}

.bgmountains {
  background: url(../images/mountains.png) repeat-x center bottom;
  height: 50%;
}

.floor {
  background: #16A085 no-repeat center top;
  height: 50%;
  position: relative;
}

.player {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 170px;
  height: 225px;
  top: -10rem;
  right: 30%;
}

.player-a .player {
  background-image: url(../images/player-a-throw1.png);
}

.player-b .player {
  background-image: url(../images/player-b-throw1.png);
}

.player-a.player-a-turn .player {
  background-image: url(../images/player-a-center.png);
}

.player-b.player-b-turn .player {
  background-image: url(../images/player-b-center.png);
}

.player-b.player-b-turn .player.center {
  background-image: url(../images/player-b-center.png);
}

.player-b.player-b-turn .player.left {
  background-image: url(../images/player-b-left.png);
}

.player-b.player-b-turn .player.right {
  background-image: url(../images/player-b-right.png);
}

.player-a.player-a-turn .player.center {
  background-image: url(../images/player-a-center.png);
}

.player-a.player-a-turn .player.left {
  background-image: url(../images/player-a-left.png);
}

.player-a.player-a-turn .player.right {
  background-image: url(../images/player-a-right.png);
}

.player.left .face {
  -webkit-transform: rotate(-25deg) translateX(-35px) translateY(7px);
  -moz-transform: rotate(-25deg) translateX(-35px) translateY(7px);
  transform: rotate(-25deg) translateX(-35px) translateY(7px);
}

.player.right .face {
  -webkit-transform: rotate(25deg) translateX(47px) translateY(4px);
  -moz-transform: rotate(25deg) translateX(47px) translateY(4px);
  transform: rotate(25deg) translateX(47px) translateY(4px);
}

.ball {
  display: none;
}

.player-b.player-b-turn .ball,
.player-a.player-a-turn .ball {
  display: block;
}

.face {
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 32px;
  left: 61px;
  background-size: 200%;
  background-repeat: no-repeat;
  display: block;
  overflow: hidden;
}

.ball {
    position: absolute;
    top: 0;
    right: 35%;
    width: 126px;
    height: 100%;
    background: url(../images/ball.png) no-repeat center 110%;
    background-size: 100%;
    max-height: 100%;
    overflow: hidden;
}

.arrow {
    position: absolute;
    background: url(../images/3d-arrow.png) no-repeat;
    width: 33%;
    height: 100px;
    bottom: 0;
    background-size: 100%;
    left: 33%;
    bottom: 100px;
}

.player {
    display: block;
}

#pause {
  padding: 10px 10px 20px 20px;
  position: absolute;
  right: 0;
  top: 0;
  width: 32px;
  height: 32px;
  z-index: 5;
}

#pause span {
  cursor: pointer;
  font-weight: 800;
  background: rgb(160, 160, 160);
  text-decoration: none;
  color: white;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  padding: 6px;
  text-align: center;
}

.panel {
  background: rgba(44, 62, 80, 0.7);
  height: 100%;
  top: -100%;
  -webkit-transition: -webkit-transform 150ms;
  -moz-transition: -moz-transform 150ms;
  transition: transform 150ms;
  position: absolute;
  z-index: 1;
  width: 100%;
}

.panel.show {
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  transform: translateY(100%);
}

#pin {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px;
}

#myscore {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 1rem 1.5rem;
  font-size: 45px;
  font-weight: 100;
  z-index: 5;
}

#theirscore {
  position: absolute;
  text-align: center;
  width: 100%;
  left: -5px;
  font-size: 30px;
  top: -1.25rem;
  font-weight: 100;
}

.three {
  position: absolute;
  top: 0;
  left: 0;
}

.notice {
  background: #e24c3c;
  margin: 0;
  padding: 2rem;
  font-size: 1.75rem;
}

#videowrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  overflow: hidden;
  /*width: 100%;*/
  /*height: 100%;*/
  /*z-index: 1000000000;*/
  /*overflow: hidden;*/
}

video {
  display: none;
}

video.streaming {
  display: block;
  position: absolute;
}

#stats {
  z-index: 9;
}

.scene .pincode {
  position: absolute;
  bottom: .1rem;
  left: .1rem;
  z-index: 9;
}

.scene .pincode:before {
  content: '#';
}

.game .three {
  z-index: 3;
}

.game .three.backdrop {
  z-index: 1;
}

.game #videowrapper {
  z-index: 2;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  transform-origin: 0 0;
}

#game-control {
  z-index: 5;
}

/* not proud of this CSS, but I'm really running out of time! */
#overlays {
  z-index: 8;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

#videowrapper[data-tilt=left] {
  -webkit-transform: rotate(-25deg);
  -moz-transform: rotate(-25deg);
  transform: rotate(-25deg);
}

#videowrapper[data-tilt=center] {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}

#videowrapper[data-tilt=right] {
  -webkit-transform: rotate(25deg);
  -moz-transform: rotate(25deg);
  transform: rotate(25deg);
}

.announce {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-direction: row;
  -ms-flex-wrap: wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  height: 100%;
}

#hit {
  height: 0;
  background: #e24c3c;
  -webkit-transform: translateY(220%);
  -moz-transform: translateY(220%);
  transform: translateY(220%);
}

.announce div {
  -webkit-flex: 1 auto;
  -moz-flex: 1 auto;
  -ms-flex: 1 auto;
  flex: 1 auto;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: inline-flex;
  position: relative;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}

#hit h1 {
  -webkit-align-self: center;
  -moz-align-self: center;
  -ms-align-self: center;
  align-self: center;
}

.announce h1,
.announce h1:before {
  display: inline-block;
  font-size: 4rem;
  font-weight: 100;
}

#hit.panel.show {
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  transform: translateY(100%);
  height: 100%;
}

#turn.showTurn {
  -webkit-animation: cssAnimation 2s 1 ease-in-out;
}

#turn {
  width: 100%;
  position: absolute;
  z-index: 9;
  -webkit-transform: scale(0.75) translateY(-200%);
  opacity: 0.5;
  height: 100%;
}

#turn[data-turn="true"] h1:before {
  content: 'Your turn!';
}

#turn[data-turn="false"] h1:before {
  content: 'Their turn';
}

@-webkit-keyframes cssAnimation {
  0% { -webkit-transform: scale(0.75) translateY(220%); opacity: 0.5; }
  10% { -webkit-transform: scale(1) translateY(0%); opacity: 1; }
  80% { -webkit-transform: scale(1) translateY(0%); opacity: 1; }
  100% { -webkit-transform: scale(0.5) translateY(220%); opacity: 0.5; }
}

.copy p,
.copy li {
  line-height: 1.5rem;
  font-weight: 100;
}

.copy a {
  font-weight: 300;
  color: #ECF0F1;
}

.copy p,
.copy ul {
  margin-left: 1rem;
  margin-right: 1rem;
}

.copy {
  padding-bottom: 1rem;
}

.copy h2 {
  font-weight: 300;
}