html, body {
  height: 100%;
  font-family: 'Roboto', times;
  font-weight: 400;
  font-size: 16px;
  padding: 0;
  max-width: 400px;
  margin: 0 auto;
  background: #000;
}

html {
  overflow-y: scroll;
}

#welcome {
  background: #2c3e50 url(../images/logo.png) no-repeat center 30px;
}

#welcome h1 {
  margin: 0;
  background: #34495e url(../images/logo.png) no-repeat center 30px;
  min-height: 380px;
  text-indent: -9000px;
}

.buttons {
  padding: 2.5rem;
  padding-bottom: 0;
}

.button {
  text-decoration: none;
  display: block;
  width: 180px;
  height: 50px;
  border-radius: 10px;
  margin: 1.5rem auto;
  line-height: 50px;
  color: #ECF0F1;
  font-size: 1.5rem;
  font-weight: 100;
  text-align: center;
}

.button.join {
  background: #3493d6;
  box-shadow: 0px 0.25rem 0 0 #2980b4;
}

.button.start {
  background: #1ab797;
  box-shadow: 0px 0.25rem 0 0 #169b80;
}

footer {
  padding: 1rem;
}

footer a {
  color: #ECF0F1;
  font-size: 1rem;
  font-weight: 100;
  text-decoration: none;
}

footer a:last-child {
  float: right; 
}